footer.mt-auto.py-3.bg-light
  .container.d-flex.justify-content-between
    span © 2022 URL Shortener. All Rights Reserved
    ul.mb-0
      li.list-inline-item
        a(href='https://github.com/CodeforHawaii/HACC2022' target='_blank') GitHub
