extends layout

block head
  script(src='https://www.google.com/recaptcha/api.js' async='' defer='')

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 About this app 
    p .... Filled out text ...