extends layout

block head
  link('rel'='stylesheet' href='https://unpkg.com/leaflet@1.9.2/dist/leaflet.css')
  script(src='/js/lib/jquery.min.js')
  script(src='https://unpkg.com/leaflet@1.9.2/dist/leaflet.js')
  script(src='/js/countries.geo.js')
  script(src="https://cdn.jsdelivr.net/npm/chart.js")
  link('rel'="stylesheet" href='https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css')
  link(ref='stylesheet' href='https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css')
  link(ref='stylesheet' href='https://cdn.datatables.net/select/1.4.0/css/select.dataTables.min.css')
  link(ref='stylesheet' href='https://cdn.datatables.net/searchpanes/2.0.2/css/searchPanes.dataTables.min.css')
  script(src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js")
  script(src='https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js')
  script(src='https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js')
  script(src='https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js')
  script(src='https://cdn.datatables.net/searchpanes/2.0.2/js/dataTables.searchPanes.min.js')
  
  style.
    #map {
      width: 100%;
      height: 500px;
    }
    .info {
      padding: 6px 8px;
      font: 14px/16px Arial, Helvetica, sans-serif;
      background: white;
      background: rgba(255,255,255,0.8);
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 5px;
    }
    .info h4 {
        margin: 0 0 5px;
        color: #777;
    }
    

block content
  .pb-2.mt-2.mb-4.border-bottom

  h3 Admin Page
  h4 Malicious URL Data Table
  table(id="table_id" class="display").my-5
    thead
      tr
        th(scope="col") User
        th(scope="col") Long Url
        th(scope="col") Date
    tbody
      each susEvent in susEvents
        tr 
          td
            p= susEvent.user 
          td 
            p= susEvent.susUrl
          td 
            p= new Date(parseInt(susEvent.date)).toLocaleString()
  h4 URL Data by Country
  div.my-5
    .row
      div#map.col
      div.col.align-self-center
        canvas#urlCountryData
        p The urls by country chart displays the number of urls shortened by each country of origin.
  h4 Https vs Http
  div.my-5
    .row
      div.col
        canvas#urlSecurityData
      div.col.align-self-center
        p The http vs https chart displays the difference in counts between https routes and http routes. This helps provide insight on whether users are shortening routes that have SSL enabled. 


  script(src='/js/map.js')
  script(src='/js/admin.js')
