extends layout

block head

block content
  .pb-2.mt-2.mb-4.border-bottom

  h3 Admin Page

  p Here are the admin things.
  p ... Map of where requests are coming from ...
  p ... Statistics of bad URLs being requested ...
  p ... Audit of shortened URLs being created, and by who ...
  p ... Etc ...