extends layout

block head
  script(src='https://www.google.com/recaptcha/api.js' async='' defer='')

block content
  .card.rounded-10.pb-4.pt-2.mt-4.px-5.mx-auto
    .card-body
    input(type='hidden', name='_csrf', value=_csrf)
    label.col-form-label.d-block(for='name') Enter the link you want to shorten
    input.form-control.mb-3(type='url', name='longUrl', placeholder='https://portal.ehawaii.gov/residents/newcomers-guide/#becomeAResidentOfHawaii', autofocus, required)
    .alert.alert-danger.invisible.d-none#error-message
    label.col-form-label.d-block(for='name') Customize your link
    input.form-control.mb-3(type='text', name='slug', placeholder='NewcomersGuide', autofocus)
    button.btn.btn-primary.w-100#submit-btn
      i.far.fa-envelope.fa-sm
      |  Send
  br
  .alert.alert-success.invisible.d-none#result
    .alert-heading 🎉 Your new URL 🎉
    hr
    div.d-flex.justify-content-between.align-items-center
      p.mb-0#shortUrl 
      button.btn.btn-outline-dark.shadow-sm.invisible.d-none#copy-btn(data-clipboard-target="#shortUrl") Copy to clipboard
  br
  section.card.rounded-10.pb-4.pt-2.mt-4.px-5.mx-auto
    h1.border-bottom.pb-2.text-center Guidelines
    .card-body
      ul
        li The link must start with " http:// " or " https:// "
          ul
            span.fas.fa-times.pe-2
            span.fw-bold www.google.com
            br
            span.fas.fa-check.pe-1
            span.fw-bold https://www.google.com
        li An alias is generated if you do not customize the link.

