extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 API Examples

  .row
    .col-md-4
      a(href='/api/google-maps', style='color: #fff')
        .card(style='background-color: #20a360').mb-3
          .card-body
            img(src='https://i.imgur.com/Er2ZqgZ.png', height=40)
            |  Google Maps
    .col-md-4
      a(href='/api/here-maps', style='color: #0f1621')
        .card(style='background-color: #d1f6f3').mb-3
          .card-body
            img(src='https://www.here.com/themes/custom/here_com_theme/logo.svg', height=40)
            |  HERE Maps
